# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
build_backup/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Archives / backups
*.zip
dart-sdk_OFF/

# OS junk
.DS_Store
Thumbs.db